<div 
	class="container pageError">
  <div 
  	class="imgError">
    <img 
    	alt="Logo Movistar" 
    	title="Logo Movistar" 
    	src="/assets/imagenes apoloweb/logo-pcpc1.png" s
    	tyle="width: 200px;">
  </div>
  <div 
  	class="tituloError">
    Error 401
  </div>
  <div 
  	class="contenError">
    Acceso no autorizado... 
  </div>
</div>
