<!-- Funcionalidad integración con HADA-->
<div 
	style="width: 100%;" 
	*ngIf="msgresultOk " 
	class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" >&times;</a>
  <strong>Exitoso! </strong> {{ resultNoOk }}
</div>
<div *ngIf="integracionhada" style="width: 100%;">
  <p style="margin-left: 1%;padding-right: 7px;">¿ Has realizado la certificación del servicio ?</p>
  <div class="col-4">
    <select 
    	name="select" 
    	(change)="validarEjecucionCertificacionH($event.target.value)" 
    	required>
      <option value="" selected>Sin Selección</option>
      <option value="INTEGRACION_TOA"> Si</option>
      <option value="INTEGRACION_HADA"> No</option>
    </select>
  </div>
</div>
<div 
	style="width: 100%;" 
	*ngIf="msgresultNoOk " 
	class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" >&times;</a>
  <strong>Atención! </strong> {{ resultNoOk }}
</div>
<div *ngIf="certificacionHADA" style="width: 100%;">
  <div class="col-12">{{ msgCertificacionHADA }}</div>
    <div class="col-4">
      <select 
      	name="select" 
      	(change)="validarEjecucionCertificacionH($event.target.value)"
        required>
        <option value="" selected>Sin Selección</option>
        <option value="INTEGRACION_HADA"> Si</option>
        <option value="NO_INTEGRACION_HADA"> No</option>
      </select>
    </div>
</div>
<!--<div *ngIf="msgaseguraCertificacion " class="alert alert-success alert-dismissible"
    style="width: 100%;">
    <a href="#" class="close" data-dismiss="alert" >&times;</a>
    <strong>Atención!</strong>{{aseguraCertificacion}}
</div>-->
 <!-- Fin integración con HADA -->